<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eastfair.exhibiterapp">

    <!--照相-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--拨打电话-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--请求网络-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoTitle">

        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.LogoActivity">

        </activity>
        <activity android:name=".ui.activity.login.LoginActivity">
        </activity>
        <activity android:name=".ui.activity.login.ForgetActivity"></activity>
        <activity android:name=".ui.activity.regist.RegistActivity"></activity>
        <activity android:name=".ui.activity.login.NewPassActivity"></activity>
        <activity
            android:name=".ui.activity.me.MyMessageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity android:name=".ui.activity.me.MyRedPackageActivity"></activity>
        <activity android:name=".ui.activity.DetailActivity"></activity>
        <activity android:name=".ui.activity.capture.BarcodeScannerActivity"></activity>
        <activity android:name=".ui.activity.capture.CaptureActivity"></activity>
        <activity android:name=".ui.activity.SendDemandActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity android:name=".ui.activity.exhibits.ExhibitsDetailActivity"></activity>
        <activity android:name=".ui.activity.exhibitors.ExhibitorsDetailActivity"></activity>
        <activity android:name=".ui.activity.exhibits.ExhibitsListActivity"></activity>
        <activity android:name=".ui.activity.ExportActivity"></activity>
        <activity android:name=".ui.activity.exhibitors.ExhibitorsSearchActivity"></activity>
        <activity android:name=".ui.activity.exhibits.ExhibitsSearchActivity"></activity>
        <activity android:name=".ui.activity.WelcomeActivity"></activity>
        <activity android:name=".ui.activity.regist.CardInfoActivity"></activity>
        <activity android:name=".ui.activity.regist.VerifyPhoneActivity"></activity>
        <activity android:name=".ui.activity.message.MessageDetailActivity"></activity>
    </application>

</manifest>